.slidev-layout {
  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }

  h1 {
    @apply text-4xl mb-4 -ml-[0.05em];
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-base;
  }

  h6 {
    @apply text-sm pt-1 uppercase tracking-widest font-500 -ml-[0.05em];
  }

  h6:not(.opacity-100) {
    @apply opacity-40;
  }
}

.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }
}

.slidev-layout.cover {
  h1 {
    /* 字体样式设置 */
    font-family: 'Smiley Sans Oblique';
    @apply text-8xl leading-20 text-amber-900;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 5px;

    /* 大标题下划线 */
    background-image: linear-gradient(90deg, #f080a5, #faa940);
    background-position: bottom;
    background-size: 100% 50%;
    background-repeat: no-repeat;
    @apply inline-block
  }
  h2 {
    /* 设置字体为黑体 */
    font-family: 'Noto Sans', 'Noto Sans SC', sans-serif;
    @apply text-5xl mt-10 text-black;
  }
  h3 {
    font-family: 'Jetbrains Mono';
    @apply text-5xl font-bold text-amber-600;
    /* 置底，右下角 */
    position: absolute;
    bottom: 40px;
    right: 40px;
  }

}